<br>
<div class="container text-center">
    <div class="row justify-content-lg-center align-items-center">
        <div class="col-lg-3">
            <a class="text-dark" href="/"><label><h1 style="cursor: pointer;">Romie's Music</h1></label></a>
        </div>
        <div class="col-lg-6">
            <form action="/search" method="get">
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <input type="text" id="name" name="name" class="form-control" placeholder="검색할 악기 정보를 입력하세요" aria-label="Product Name" aria-describedby="button-addon2">
                        <button class="btn btn-outline-dark" type="submit" id="button-addon2">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="/cart"><img class="img-small" src="../images/cart.png"></a>
            <a id="account-btn"><img class="img-small profileimg" src="../images/profile.png"></a>
            
            <div id="myModal" class="modal">
                <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11"></div>
                        <div class="col-md-1">
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
                <br>                                                      
                    <div class="d-grid gap-2 col-10 mx-auto">
                        <% if (is_active === true) { %>
                            <label><h5><%= fullname %>님! 방문을 환영합니다.</h5></label>
                            <br>
                            <button type="button" onclick="location.href='logout'" class="btn btn-outline-dark btn-lg">로그아웃</button>
                        <% } else {%>
                            <button type="button" onclick="location.href='login'" class="btn btn-outline-primary btn-lg">로그인</button>
                            <br>
                            <button type="button" onclick="location.href='register'" class="btn btn-outline-dark btn-lg">회원가입</button>
                        <% } %>
                    </div>
                <br>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>