<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('head') %>
</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    <nav>
        <%- include('nav') %>
    </nav>

    <article>
        <div class="container text-center">
            <a href="/search?name=Ibanez"><img class="img-large" src="images/banner.jpeg"></a>
        </div>
    </article>

    <footer>
        <%- include('footer') %>
    </footer>
</body>
</html>