<div class="container text-center">
    <div class="row justify-content-lg-center align-items-center">
        <div class="col">
            <a href="/electric"><label style="cursor: pointer;"><img class="img-very-small" src="../images/electric.png"><br><div class="icon-des">일렉기타</div></label></a>
        </div>
        <div class="col">
            <a href="/bass"><label style="cursor: pointer;"><img class="img-very-small" src="../images/bass.png"><br><div class="icon-des">베이스기타</div></label></a>
        </div>
        <div class="col">
            <a href="/acoustic"><label style="cursor: pointer;"><img class="img-very-small" src="../images/acoustic.png"><br><div class="icon-des">통기타</div></label></a>
        </div>
        <div class="col">
            <a href="/classic"><label style="cursor: pointer;"><img class="img-very-small" src="../images/classic.png"><br><div class="icon-des">클래식기타</div></label></a>
        </div>
        <div class="col">
            <a href="/sound"><label style="cursor: pointer;"><img class="img-very-small" src="../images/amp.png"><br><div class="icon-des">앰프/헤드폰</div></label></a>
        </div>
        <div class="col">
            <a href="/effector"><label style="cursor: pointer;"><img class="img-very-small" src="../images/effector.png"><br><div class="icon-des">이펙터</div></label></a>
        </div>
        <div class="col">
            <a href="/accessory"><label style="cursor: pointer;"><img class="img-very-small" src="../images/accessory.png"><br><div class="icon-des">악세사리</div></label></a>
        </div>
    </div>    
</div>
<hr>