<div class="container text-center">
    <div class="row justify-content-lg-center align-items-center">
        <div class="col">
            <a href="/electric"><label style="cursor: pointer;"><img class="img-medium" src="../images/electric.png"><br><br><h4>일렉기타</h4></label></a>
        </div>
        <div class="col">
            <a href="/bass"><label style="cursor: pointer;"><img class="img-medium" src="../images/bass.png"><br><br><h4>베이스기타</h4></label></a>
        </div>
        <div class="col">
            <a href="/acoustic"><label style="cursor: pointer;"><img class="img-medium" src="../images/acoustic.png"><br><br><h4>통기타</h4></label></a>
        </div>
        <div class="col">
            <a href="/classic"><label style="cursor: pointer;"><img class="img-medium" src="../images/classic.png"><br><br><h4>클래식기타</h4></label></a>
        </div>
        <div class="col">
            <a href="/sound"><label style="cursor: pointer;"><img class="img-medium" src="../images/amp.png"><br><br><h4>앰프/헤드폰</h4></label></a>
        </div>
        <div class="col">
            <a href="/effector"><label style="cursor: pointer;"><img class="img-medium" src="../images/effector.png"><br><br><h4>이펙터</h4></label></a>
        </div>
        <div class="col">
            <a href="/accessory"><label style="cursor: pointer;"><img class="img-medium" src="../images/accessory.png"><br><br><h4>악세사리</h4></label></a>
        </div>
    </div>    
</div>
<hr>