body{
    color: black;    
}
a{
    cursor: pointer;
    color: black;    
}
.img-small{
    max-width: 35px;
    max-height: 35px;
}

.img-very-small{
    max-width: 70px;
    max-height: 70px;
}
.icon-des {
    font-size: 18px;
    margin-top: 10px;
}
.img-medium{
    max-width: 75%;
    max-height: 75%;
}
.img-large{
    max-width: 50%;
    max-height: 50%;
}
.img-very-large{
    max-width: 100%;
    max-height: 100%;
}
.img-cart{
    max-width: 100px;
    max-height: 100px;
}
.profileimg {
    margin-left: 20px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 10px;
    border: 1px solid #888;
    width: 30%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
